/* Global Styles */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(to right, black 20%, white 20%);
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
}

img {
  width: 9.375rem;
  height: 9.375rem;
  margin-top: 9.375rem;
  border-radius: 50%;
  object-fit: cover;
  padding: 1.25rem;
  margin-left: 5%;
}

/* Home Section */
.title-home {
  font-size: 4rem;
  color: black;
  position: absolute;
  top: 31%;
  left: 31%;
  transform: translate(-50%, -50%);
}

span {
  font-size: 4rem;
  color: navy;
}

.city-home,
.address,
.text-home {
  font-size: 1.25rem;
  color: black;
  position: absolute;
  transform: translateY(-50%);
  transform: translateX(-50%);
}

.address {
  top: 34%;
  left: 29%;
}
.city-home {
  color: navy;
  top: 34%;
  left: 39%;
}

.text-home {
  top: 49%;
  left: 47%;
}

.icons-home {
  font-size: 3rem;
  position: absolute;
  top: 67%;
  left: 30%;
  transform: translateX(-50%);
}
.fa-linkedin,
.fa-square-facebook {
  color: navy;
}
.fa-square-github,
.fa-square-x-twitter {
  color: black;
}

.copy {
  color: navy;
  text-align: center;
  padding: 0.6rem 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* Navigation Links */
.about a,
.skills a,
.goal a,
.email a,
.phone a {
  display: flex;
  margin-left: 7%;
  margin-top: 1.25rem;
  transform: translateY(-50%);
}

li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  width: 8rem;
}

li a:hover {
  color: navy;
}
.skills a,
.email a,
.phone a {
  margin-left: 6%;
}

/* About Section */
.title-about {
  font-size: 4rem;
  color: black;
  position: absolute;
  top: 20%;
  left: 57%;
  transform: translateX(-50%);
}

.about-info {
  font-size: 1.1rem;
  width: 50rem;
  line-height: 1.6;
  margin: 0 auto;
  position: absolute;
  top: 33%;
  left: 30%;
}

.about-info ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.icons-about {
  color: white;
  font-size: 25rem;
}

.bi-braces {
  position: absolute;
  top: 42%;
  left: 10%;
}

.bi-person-lines-fill {
  position: absolute;
  top: 90%;
  left: 10%;
}

strong,
h2,
h3 {
  color: navy;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

/* Skills Section */
.title-skills {
  font-size: 4rem;
  color: black;
  position: absolute;
  top: 20%;
  left: 57%;
  transform: translateX(-50%);
}

.skills-info,
.skills-academic,
.skills-text {
  font-size: 1.1rem;
  width: 50rem;
  line-height: 1.6;
  margin: 0 auto;
  position: absolute;
}

.skills-info {
  top: 32%;
  left: 30%;
}
.skills-info li {
  list-style: none;
}

.skills-academic {
  top: 67%;
  left: 30%;
}

.skills-text {
  top: 90%;
  left: 30%;
}

.bi-filetype-html,
.bi-filetype-css,
.bi-filetype-js {
  color: white;
  font-size: 5rem;
  position: absolute;
}

.bi-filetype-html {
  left: 8%;
}

.bi-filetype-html:hover {
  color: orange;
}

.bi-filetype-css {
  top: 55%;
  left: 8%;
}

.bi-filetype-css:hover {
  color: #4682b4;
}

.bi-filetype-js {
  top: 70%;
  left: 8%;
}

.bi-filetype-js:hover {
  color: yellow;
}

/* Goals Section */
.bi-bullseye {
  color: white;
  font-size: 25rem;
  z-index: -1;
  position: absolute;
  top: 35%;
  left: 4%;
}

.title-goals {
  font-size: 4rem;
  color: black;
  position: absolute;
  top: 20%;
  left: 57%;
  transform: translateX(-50%);
}

.goals-info {
  font-size: 1.1rem;
  width: 50rem;
  line-height: 1.6;
  margin: 0 auto;
  position: absolute;
  top: 33%;
  left: 30%;
}

.goals-info ul {
  list-style-type: none;
}
